{% extends "vkusno/base_b5.html" %}

{% block content %}
<div class="container">
{% if form.errors %}
<p style="color: red">Неверный логин или пароль</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <small style="color: grey">Пожалуйста войдите, чтобы видеть эту страницу</small>
    {% endif %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="Username" class="form-label" >Логин</label>
      <input type="input" class="form-control" name="username"  id="InputUsername" style="width:300px" required>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Пароль</label>
      <input type="password" class="form-control" name="password" id="InputPassword1" style="width:300px" required>
    </div>
    <button type="submit" action="{% url 'home' %}" class="btn btn-outline-primary" style="opacity: 1 !important;">Войти</button>
</form>
<br>
<p><a href="{% url 'user_profile:registration' %}">Регистрация</a></p>
</div>

{% endblock %}