{% extends "vkusno/base_b5.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
{% comment %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>
{% endcomment %}

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="Username" class="form-label" >Username</label>
      <input type="input" class="form-control" name="username"  id="InputUsername" style="width:300px" required>
    </div>
    <div class="mb-3">
      <label for="InputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="InputPassword1" style="width:300px" required>
    </div>
    <button type="submit" action="{% url 'home' %}" class="btn btn-light" style="opacity: 1 !important;">Login</button>
</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'user_profile:password_reset' %}">Lost password?</a></p>

{% endblock %}