{% load static %}
{% load i18n %}
<div class="container col-xl-4 col-md-6 p-0">
    <div class="card shadow-sm m-2">
        <div class="card-body p-0">
            <p class="card-text text-center" style="font-size: 20px;">{{ card.comment }}</p>
            <div class="d-flex align-items-center" style="height: 600px">
                <img src="{{ card.card_image.url }}" class="img-fluid mx-auto d-block" style="max-height: 600px">
            </div>
        </div>
        {% if card.choice == 'vk' %}
            <div class="bg-success text-white bg-opacity-75 shadow-sm mx-auto rounded-4 m-2" style="width: 80%; height: 30px ">
                <p class="text-center">Нравится</p>
            </div>
        {% else %}
            <div class="bg-danger text-white bg-opacity-75 shadow-sm mx-auto rounded-4 m-2" style="width: 80%; height: 30px">
                <p class="text-center" >Не нравится</p>
            </div>
        {% endif %}  
        <div class="card-footer">
            <div class="row justify-content-md-center">
                <small class="text-muted col-md-auto">{{ card.user }}</small>
                <small class="text-muted col-md-auto">{{ card.created_date }}</small>
                <!-- <a href="/user/{{ card.user }}">{{ card.user }}</a> -->
                <a class="bi bi-trash3 col-md-auto" href="{% url 'card_delete' card.pk %}"></a>
            </div>
        </div>        
    </div>
</div>