{% load static %}
{% load i18n %}
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ category.name }}" aria-expanded="true" aria-controls="{{ category.name }}">
        {{ category.name }}
      </button>
    </h2>
    <div id="{{ category.name }}" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="col-md-7">
            {% for card in cards %}
                {% if card.category.name == category.name %}
                    {% include "vkusno/card_view.html"%}
                {% endif%}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>