{% load static %}
{% load i18n %}
<div class="accordion-item">
    <h2 class="accordion-header col-6 col-sm-4 col-md-3 col-lg-2">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ category.name }}" aria-expanded="false" aria-controls="{{ category.name }}">
        {{ category.name }}
      </button>
    </h2>
    <div id="{{ category.name }}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body p-0">
        <div class="row products-list m-0">
            {% for card in cards %}
                {% if card.category.name == category.name %}
                    {% include "vkusno/card_view.html"%}
                {% endif%}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>