{% extends 'vkusno/base_b5.html' %}
{% load static %}
{% block content %}

{% block allert %}
{% endblock %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">Редактирование профиля</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <!-- Форма User -->
                        <div class="form-group">
                            {{ user_form.first_name.label_tag }}
                            {{ user_form.first_name }}
                        </div>
                        
                        <div class="form-group">
                            {{ user_form.last_name.label_tag }}
                            {{ user_form.last_name }}
                        </div>
                        
                        <!-- Форма ExtendUser -->
                        <div class="form-group">
                            {{ extend_form.avatar.label_tag }}
                            {{ extend_form.avatar }}
                            {% if extend_form.instance.avatar %}
                                <img src="{{ extend_form.instance.avatar.url }}" 
                                    class="rounded-circle mt-2" 
                                    width="100">
                            {% endif %}
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}